.throbber {
    padding-bottom: 8px;
}

.subsection-title {
    font-size: 1.1em;
    font-weight: bold;
    padding-bottom: 5px;
}

/* in authentication-configuration.html */
.authentication-panel {
    padding: 15px;
}

/* in preference-editor.html */
.preference-panel {
    padding: 15px;
    padding-bottom: 0px;
}

input.change-password {
    margin-top: 5px;
    margin-bottom: 15px;
}

.control-cell {
    text-align: center;
}

/* styles for the tdb - kind of similar but pretty different to the
 * control-table used in "my account" because the tdb cells we want to
 * accentuate are in the first row, rather than the first column */

.tdb-navigation-panel {
    margin-left: 1%;
    width: 100%;
    padding: 0;
    border-spacing: 0;
}

#tdb-control-pane {
    white-space: nowrap;
    text-align: right;
}

.tdb-clickable-header {
    cursor: pointer;
}

th.tdb-clickable-header:hover {
    background-image: url(/Mantissa/images/header_bg_hover.png);
}

.tdb-action {
    border: 0px;
    padding: 2px;
}

table.mantissa-tdb {
    margin-left: 1%;
    width: 100%;
    padding: 0;
    border-spacing: 0;
    border: solid 1px #B0B0B0;
    border-right: none;
}

table.mantissa-tdb > thead {
    background-color: #FFFFFF;
    background-image: url(/Mantissa/images/header_bg.png);
    background-repeat: repeat-x;
    background-position: bottom left 
}

table.mantissa-tdb > thead > tr > th {
    border: solid 1px #B0B0B0;
    border-left: none;
    border-top: none;
    padding: 4px 4px 4px 4px;
    font-weight: bold;
    color: #9B9B9B;
    letter-spacing: 1.5px;
    white-space: nowrap;
}

table.mantissa-tdb > tbody > tr > td {
    border-right: solid 1px #B0B0B0;
    padding: 4px;
    white-space: nowrap;
}

.tdb-row-alt {
    background-color: #F1F1F1;
}

.tdb-action-result {
    color: #04a700;
    font-weight: bold;
    text-align: center;
}

.tdb-sort-arrow {
    color: #000000;
    font-weight: bold;
    vertical-align: middle;
}

table.mantissa-tdb > tbody > tr > td.datetime {
    text-align: center;
}

table.mantissa-tdb > tbody > tr > td.text {
    overflow: hidden;
}

table.mantissa-tdb > tbody > tr > td.actions {
    text-align: center;
}

table.mantissa-tdb > tbody > tr > td.numeric {
    text-align: center;
}

/* the table of controls used by preferences & auth fragments */
table.control-table {
    width: 70%;
    border: solid 1px #CACACA;
    border-right: none;
}

/* set the first row to have a pretty bg image */
table.control-table > thead {
    background-color: #FFFFFF;
    background-image: url(/Mantissa/images/header_bg.png);
    background-repeat: repeat-x;
    background-position: bottom left 
}

/* set the first row to be bold-face */
table.control-table > thead > tr > td {
    padding: 5px;
    font-weight: bold;
    border-right: solid 1px #CACACA;
    border-bottom: solid 1px #CACACA;
}

/* put a grey border around all other rows */
table.control-table > tbody > tr > td {
    border-right: solid 1px #CACACA;
    padding: 5px;
}

/* make the score of each result grey and italic,
   because nobody really cares about it */
.search-score {
    color: #CACACA;
    font-style: italic;
}

/* slightly indent the summary text that appears below
 * each search item */
.search-summary {
    margin-left: 15px;
}

#results-summary {
    background-color: #CACACA;
    border: solid 1px #B0B0B0;
    padding: 5px;
    text-align: right;
}

/* shell template styles */

/* the panel that contains username/logout/my-account */
.logged-in-panel {
    white-space: nowrap;
}

#search-form {
    padding: 6px;
}

select {
    border: 1px solid #999999;
    border-top-color: #CCCCCC;
    border-left-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #333333;
    font-size: 75%;
}

input[type=submit] {
    border: 3px double #999999;
    border-top-color: #CCCCCC;
    border-left-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #333333;
    font-size: 75%;
    font-weight: bold;
}

input[type=password], input[type=text] {
    border: 1px solid #999999;
    border-top-color: #CCCCCC;
    border-left-color: #CCCCCC;
    padding: 0.25em;
    background-color: #FFFFFF;
    color: #333333;
    font-size: 75%;
    font-weight: bold;
}

.control-panel { width: 100% }
.shell-content { padding-top: 15px }

.page-body {
    vertical-align: top;
}

.fragment-title {
    font-size: 1.2em;
    font-weight: bold
}

.fragment-container { 
    width: 100% 
}

.username { 
    font-weight: bold 
}
.footer { 
    text-align: center 
}

/* navigation stuff */

.mantissa-tab {
    background-image: url(/Mantissa/images/header_bg.png);
    background-position: bottom left;
    background-repeat: repeat-x;
    white-space: nowrap;
    margin: 6px;
    padding: 4px;
    margin-top: 0px;
    border: solid 1px #999999;
}

.logged-in-panel {
    text-align: right;
}


/* These three li styles are for the admin site offering page.  They
give installed offerings a different look from uninstalled offerings,
including a visual hint that uninstalled offerings are clickable. */
li.installed {
    border: solid 1px green;
    margin-top: 1px;
}

li.uninstalled {
    border: solid 1px red;
    margin-top: 1px;
    cursor: crosshair;
}

li.installing {
    border: dotted 1px yellow;
    margin-top: 1px;
    cursor: wait;
}
