body {
    font: 80% Arial, Helvetica, sans-serif;
}

.scroll-header-container {
    background-color: #DADADA;
    font-weight: bold;
    text-align: center;
}

.scroll-row {
    display: block;
    white-space: nowrap;
    clear: both;
}

.scroll-row:hover {
    background-color: #DADADA;
}

.scroll-column-header, .scroll-cell, .sortable-scroll-column-header, .actions-column-header {
    padding: 4px;
    width: 250px;
    float: left;
    border-right: solid 1px #000000;
    overflow: hidden;
}

.sortable-scroll-column-header:hover {
    background-color: #C0C0C0;
}

.sortable-scroll-column-header {
    cursor: pointer;
}

.scroll-column {
    overflow: hidden;
}

.scroll-viewport {
    clear: both;
}

td.multi-text-input-list > input {
    display: block;
    margin-bottom: 4px;
}
.person-actions {
    position: absolute;
    background-color: #FFFFFF;
    border: solid 1px #DADADA;
    padding: 4px;
}

div.person-actions > div {
    border-bottom: solid 1px #DADADA;
    margin-bottom: 4px;
}

.tdb {
    border-left: 1px solid #E5E5E5;
    border-top: 1px solid #E5E5E5;
    margin: 0 7px 10px;
    border-collapse: separate !important;
    border-collapse: collapse;
    border-spacing: 0;
    white-space: nowrap;
}

td.text { overflow: hidden }

.tdb > tbody > tr > td, .tdb th {
    border-bottom: 1px solid #E5E5E5;
    border-left: 1px #fff solid;
    border-right: 1px solid #E5E5E5;
    border-top: 1px #fff solid;
}

.tdb > tbody > tr > td {
    background: #F9F9F9;
    padding: 3px;
}

.tdb th {
    background: #f1f1f1;
    font-weight: bold;
    padding: 4px;
    text-align: left;
    white-space: nowrap;
}

a:link    { color: #7C7777; text-decoration: none }
a:visited { color: #A6A6A6; text-decoration: none }
a:hover   { color: #575757; text-decoration: none }
a:active  { color: #000000; text-decoration: underline }

.subsection-title {
    font-size: 1.1em;
    font-weight: bold;
    padding-bottom: 5px;
}

/* in authentication-configuration.html */
.authentication-panel {
    padding: 15px;
}

/* in preference-editor.html */
.preference-panel {
    padding: 15px;
    padding-bottom: 0px;
}

input.change-password {
    margin-top: 5px;
    margin-bottom: 15px;
}

.control-cell {
    text-align: center;
}

/* styles for the tdb - kind of similar but pretty different to the
 * control-table used in "my account" because the tdb cells we want to
 * accentuate are in the first row, rather than the first column */

.tdb-action-result {
    white-space: nowrap;
    color: #04a700;
    font-weight: bold;
}

.tdb-clickable-header {
    cursor: pointer;
}

.tdb-no-rows-dialog {
    font-size: 2.2em;
    color: #CCCCCC;
    font-style: italic;
}

th.tdb-clickable-header:hover {
    background-image: url(/Mantissa/images/header_bg_hover.png);
}

.tdb-action {
    border: 0px;
    padding: 2px;
}

.sort-arrow {
    color: #000000;
    font-weight: bold;
    vertical-align: middle;
}

/* the table of controls used by preferences & auth fragments */
table.control-table {
    border-spacing: 0px;
    width: 70%;
    border: solid 1px #CACACA;
    border-right: none;
}

/* set the first row to have a pretty bg image */
table.control-table > thead {
    background-color: #FFFFFF;
    background-image: url(/Mantissa/images/header_bg.png);
    background-repeat: repeat-x;
    background-position: bottom left 
}

/* set the first row to be bold-face */
table.control-table > thead > tr > td {
    padding: 5px;
    font-weight: bold;
    border-right: solid 1px #CACACA;
    border-bottom: solid 1px #CACACA;
}

/* put a grey border around all other rows */
table.control-table > tbody > tr > td {
    border-right: solid 1px #CACACA;
    padding: 5px;
}

/* make the score of each result grey and italic,
   because nobody really cares about it */
.search-score {
    color: #CACACA;
    font-style: italic;
}

/* slightly indent the summary text that appears below
 * each search item */
.search-summary {
    margin-left: 15px;
}

#results-summary {
    background-color: #CACACA;
    border: solid 1px #B0B0B0;
    padding: 5px;
    text-align: right;
}

/* shell template styles */

/* the panel that contains username/logout/my-account */
.logged-in-panel {
    white-space: nowrap;
}

#search-form {
    padding: 6px;
}

select {
    border: 1px solid #999999;
    border-top-color: #CCCCCC;
    border-left-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #333333;
}

textarea {
    border: 1px solid #999999;
    border-top-color: #CCCCCC;
    border-left-color: #CCCCCC;
    background-color: #FFFFFF;
    padding: 0.25em;
    color: #333333;
}

input[type=submit] {
    border: 3px double #999999;
    border-top-color: #CCCCCC;
    border-left-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #333333;
    font-weight: bold;
}

input[type=password], input[type=text] {
    border: 1px solid #999999;
    border-top-color: #CCCCCC;
    border-left-color: #CCCCCC;
    padding: 0.25em;
    background-color: #FFFFFF;
    color: #333333;
}

.control-panel { width: 100% }

.page-body {
    vertical-align: top;
}

.fragment-container { 
    width: 100% 
}

.username { 
    font-weight: bold 
}
.footer { 
    text-align: center 
}

body { 
    margin: 0px;
    border: 0px;
}

.private-fragment-content { 
    padding: 8px;
}

.fragment-content { width: 100%; }

/* navigation stuff */

ul#mainmenu {
    margin: 0;
    padding: 0;
}

#mainmenu li.main:hover ul.submenu, #mainmenu li.over ul.submenu {
    display: block;
}

div#nav {
    background: #4ca1d8 url(/Mantissa/images/nav_bg.gif) top left repeat-x;
    clear: both;
    height: 26px;
    padding-left: 11px;
}

#nav li.main {
    text-align: center;
}

ul#mainmenu, ul.submenu {
    list-style-type: none;
}

ul.submenu {
    background: url(/Mantissa/images/dropdown.png) top left repeat-x;
    border: 1px solid #E0E0E0;
    border-top: 0;
    display: none;
    font-size: 0.9em;
    left: 0;
    margin-left: -1px;
    padding: 5px 0 10px 0;
    position: absolute;
    width: 12em;
    z-index: 2;
    text-align: left;
}

li.main, li.current {
    float: left;
    font-size: 1.1em;
    margin-top: 2px;
    position: relative;
    width: auto !important;
    list-style-type: none;
    width: 1%;
}

a.mainlink:link, a.mainlink:visited {
    color: #fff;
    display: block;
    height: 14px;
    padding: 5px 8px 5px 8px;
    text-shadow: 2px 2px 1px #2A7DB3;
}

a.mainlink:hover, a.mainlink:active, a.mainlink:focus {
    background: url(/Mantissa/images/li_over.gif) #70bbec repeat-x top right;
    color: #2a7db3;
    cursor: pointer;
    text-shadow: none;
}

a.sellink:link, a.sellink:visited, a.sellink:hover, a.sellink:active, a.sellink:focus {
    background: url(/Mantissa/images/li_over.gif) #70bbec repeat-x top right;
    color: #2a7db3;
    cursor: pointer;
    display: block;
    height: 14px;
    padding: 5px 8px 5px 8px;
    text-shadow: 2px 2px 1px #2A7DB3;
}

a.sublink:link, a.sublink:visited {
    color: #3C3C3C;
    display: block;
    height: auto;
    padding: 3px 4px;
    width: 11.2em;
}

a.sublink:hover, a.sublink:active, a.sublink:focus {
    background: #4CA1D8;
    color: #fff;
}

#mainmenu li:hover a.mainlink, #mainmenu li.over a.mainlink {
    background: url(/Mantissa/images/li_over.gif) #70bbec repeat-x top right;
    color: #2a7db3;
    text-shadow: none;
}

#submenubar a:link, #submenubar a:visited {
    border: 0;
    color: #656565;
    display: block;
    float: left;
    height: 1.2em;
    padding: 3px 10px;
}

a.childsellink {
    font-weight: bold;
}

#submenubar a.childunsellink:hover, #submenubar a.childunsellink:active, #submenubar a.childunsellink:focus {
    background: #4CA1D8 url(/Mantissa/images/submenu_selected.gif) top left repeat-x;
    color: #fff;
}


#submenubar {
    background: #fff repeat-x left top;
    border-bottom: 1px solid #E9E9E9;
    clear: both;
    color: #fff;
    height: 1.8em;
    padding-left: 2px;
    text-align: left;
}

#submenubar span {
    color: #000000;
    cursor: default;
    font-weight: bold;
}


/* end of navigation stuff */

.logged-in-panel {
    text-align: right;
}

/* These three li styles are for the admin site offering page.  They
give installed offerings a different look from uninstalled offerings,
including a visual hint that uninstalled offerings are clickable. */
li.installed {
    border: solid 1px green;
    margin-top: 1px;
}

li.uninstalled {
    border: solid 1px red;
    margin-top: 1px;
    cursor: crosshair;
}

li.installing {
    border: dotted 1px yellow;
    margin-top: 1px;
    cursor: wait;
}
